@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;800;900&display=swap");

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.pokemonsList {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.pokemonsList__item {
	width: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
	box-shadow: -5px 5px 55px -5px rgba(49, 49, 49, 0.25);
	border-radius: 10px;
	padding: 20px;
	border: 1px solid black;
	transition: all 0.2s;
}

.pokemonsList__item:hover {
	border: 1px solid #f5487f;
}

.pokemonsList__item__image {
	width: 100px;
}

.pokemonsList__item__name {
	text-transform: capitalize;
	font-family: Roboto;
}

.pokemonsList__item__button {
	border: 1px solid #f5487f;
	box-sizing: border-box;
	border-radius: 30px;
	padding: 10px 30px;
	text-decoration: none;
	color: #000;
	transition: all 0.3s;
	font-family: Roboto;
}

.pokemonsList__item__button:hover {
	background-color: #f5487f;
	color: white;
}

.header {
	box-shadow: -5px 5px 55px -5px rgba(49, 49, 49, 0.25);
	position: fixed;
	background-color: white;
	width: 100%;
	margin-bottom: 200px;
	top: 0;
	height: 80px;
	display: flex;
	align-items: center;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content {
	margin-top: 150px;
}

.navigation__logo {
	height: 60px;
}

.navigation__links__item {
	margin-left: 25px;
	font-family: Roboto;
	text-decoration: none;
	color: black;
	transition: all 0.3s;
}

.navigation__links__item:hover {
	color: #f5487f;
}

.pokemonInformation {
	box-shadow: -5px 5px 55px -5px rgba(49, 49, 49, 0.25);
	border-radius: 10px;
	margin: 0 5%;
	padding: 50px;
}

.pokemonInformation__row {
	display: flex;
	justify-content: space-between;
}

.pokemonInformation__row__block {
	width: 250px;
}

.pokemonInformation__row__image {
	width: 150px;
}

.pokemonInformation__row__block__title {
	font-weight: 800;
}

.pokemonInformation__row__name {
	text-transform: capitalize;
	font-family: Roboto;
	font-size: 22px;
}

.pokemonInformation__row__block__image {
	width: 150px;
	border-radius: 100%;
	border: 1px solid black;
}

.pokemonStats {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

/* .table {
	display: flex;
	flex-direction: column;
} */

.table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.table td,
.table th {
	border: 1px solid #5d5d5d;
	text-align: left;
	padding: 8px;
}

.table tr:nth-child(even) {
	background-color: #dddddd;
}

.mobile-navigation {
	display: none;
}

.wrap {
	box-shadow: -5px 5px 55px -5px rgba(49, 49, 49, 0.25);
	border-radius: 10px;
	margin: 0 5%;
	padding: 50px;
}

.showMore {
	border: 1px solid #f5487f;
	box-sizing: border-box;
	border-radius: 30px;
	padding: 10px 30px;
	text-decoration: none;
	background-color: #f5487f;
	color: white;
	font-size: 16px;
	transition: all 0.3s;
	font-family: Roboto;
	display: block;
	margin: 0 auto;
}

.showMore:hover {
	color: black;
	background-color: white;
}

.showMore {
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.tableShowMore {
	margin-top: 30px;
}

.content {
	padding-bottom: 50px;
}

.table__item__name {
	color: #f5487f;
	text-decoration: none;
	font-family: Roboto;
	text-transform: capitalize;
}

.table__item__stat {
	text-transform: capitalize;
}

@media (max-width: 768px) {
	.container {
		width: 100%;
	}

	.pokemonsList {
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.pokemonInformation__row {
		flex-direction: column;
	}
	.pokemonInformation__row {
		align-items: center;
	}
	.pokemonInformation__row__block {
		align-items: center;
		display: flex;
		flex-direction: column;
	}
	.abilities__item {
		text-align: center;
	}
	.navigation {
		padding: 0 30px;
	}

	.header {
		transition: all 0.5s;
		display: unset;
		overflow: hidden;
	}

	.header.mobile-active {
		height: 100vh;
	}

	.mobile-top {
		display: flex;
		justify-content: space-between;
		height: 80px;
		align-items: center;
	}

	.navigation {
		display: none;
	}

	.container {
		width: 90%;
		padding: 0 15px;
	}

	.mobile-navigation {
		display: unset;
	}

	.mobile-content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 60vh;
	}

	.mobile-content__item {
		padding: 15px;
		color: #f5487f;
		font-size: 26px;
		text-decoration: none;
		font-weight: 600;
		font-family: Roboto;
	}

	.wrap {
		padding: 10px;
		margin: 0px;
	}

	.mobile-top__button {
		border: none;
		background-color: #fff;
	}
}
